html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  line-height: 1;
  color: #222;
  background: #fff;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

a img {
  border: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -5;
  background: #00112c;
  overflow-x: hidden;
}

.bg {
  background: url("../images/bg.jpg") center top no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -5;
  background-position-y: 50px;
  background-size: 1890px;
  height: 1200px;
}

.container {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  width: 300px;
}

.slot-container {
  width: 1068px;
  height: 712px;
  position: absolute;
  top: 0;
  left: -108%;
}

.header {
  height: 60px;
  z-index: 1000;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #212121;
  z-index: 6;
}

.logo {
  left: 50%;
  -webkit-transform: translate(-62px);
  -ms-transform: translate(-62px);
  transform: translate(-62px);
  margin-top: 5px;
  margin-bottom: 5px;
  position: absolute;
  cursor: pointer;
  width: 120px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 50px;
}

.providers {
  top: 1060px;
  left: -125px;
  width: 1212px;
  height: 58px;
  position: absolute;
  background: url("../images/providers.png");
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}

@media (max-height: 1080px) {
  .slot-container {
    left: -167%;
  }

  .container {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  .bg {
    background-size: 1784px;
    height: 1123px;
  }

  .providers {
    top: 1112px;
  }
}

@media (max-height: 1000px) {
  .slot-container {
    left: -172%;
  }

  .container {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

  .bg {
    background-size: 1708px;
    height: 1080px;
  }

  .providers {
    top: 1200px;
  }
}

@media (max-height: 900px) {
  .slot-container {
    left: -182%;
  }

  .container {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
  }

  .bg {
    background-size: 1463px;
    height: 925px;
  }

  .providers {
    top: 1172px;
  }
}

@media (max-height: 785px) {
  .slot-container {
    left: -194%;
  }

  .container {
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
  }

  .bg {
    background-size: 1249px;
    height: 800px;
  }
}

@media (max-width: 785px) {
  .slot-container {
    left: -201%;
  }

  .container {
    -webkit-transform: scale(0.55);
    -ms-transform: scale(0.55);
    transform: scale(0.55);
  }

  .bg {
    background-size: 1056px;
    height: 710px;
  }

  .providers {
    top: 1090px;
  }
}

@media (max-height: 690px) {
  .slot-container {
    left: -201%;
  }

  .container {
    -webkit-transform: scale(0.55);
    -ms-transform: scale(0.55);
    transform: scale(0.55);
  }

  .bg {
    background-size: 1110px;
    height: 725px;
  }

  .providers {
    top: 1130px;
  }
}

@media (max-height: 625px) {
  .slot-container {
    left: -210%;
  }

  .container {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
  }

  .bg {
    background-size: 960px;
  }
}

@media (max-height: 575px) {
  .slot-container {
    left: -220%;
  }

  .container {
    -webkit-transform: scale(0.45);
    -ms-transform: scale(0.45);
    transform: scale(0.45);
  }

  .bg {
    background-size: 864px;
  }
}

@media (max-height: 525px) {
  .slot-container {
    left: -235%;
  }

  .container {
    -webkit-transform: scale(0.4);
    -ms-transform: scale(0.4);
    transform: scale(0.4);
  }

  .bg {
    background-size: 768px;
  }
}

@media (max-height: 475px) {
  .slot-container {
    left: -253%;
  }

  .container {
    -webkit-transform: scale(0.35);
    -ms-transform: scale(0.35);
    transform: scale(0.35);
  }

  .bg {
    background-size: 672px;
  }
}

.title {
  top: -50px;
  left: 81px;
  width: 765px;
  height: 716px;
  position: absolute;
  /* background: url("../images/titile.png"); */
  z-index: 3;
}

.button {
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#fdd835),
    to(#ffc107)
  );
  background: linear-gradient(270deg, #fdd835, #ffc107);
  -webkit-box-shadow: inset 0 1px 0 #fdd835;
  box-shadow: inset 0 1px 0 #fdd835;
  font-family: "Syncopate", sans-serif;
  font-size: 50px;
  color: #222;
  text-align: center;
  width: 457px;
  height: 43px;
  position: absolute;
  z-index: 6;
  left: 215px;
  top: 495px;
  padding: 32px;
  border-radius: 60px;
  cursor: pointer;
  -webkit-animation: landingBtn infinite 1.5s linear;
  animation: landingBtn infinite 1.5s linear;
}

.button:hover {
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#ffeb37),
    to(#ffdf12)
  );
  background: linear-gradient(270deg, #ffeb37, #ffdf12);
}

.welcome {
  font-size: 46px;
  text-align: center;
  width: 379px;
  height: 34px;
  position: absolute;
  left: 290px;
  top: 660px;
  background: url("../images/welcome_bonus.svg") 0 0 no-repeat;
}

.bonus {
  top: 710px;
  left: -21px;
  width: 1000px;
  height: 125px;
  position: absolute;
  background: url("../images/bonus-300-1.png");
  -webkit-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6);
}

.line {
  top: 845px;
  left: 277px;
  width: 400px;
  height: 1px;
  background-color: #fff;
  opacity: 0.4;
  position: absolute;
}

.benefits {
  top: 900px;
  left: 223px;
  width: 513px;
  height: 57px;
  position: absolute;
  background: url("../images/benefits.svg");
}

.moon {
  top: -52px;
  left: 222px;
  width: 490px;
  height: 539px;
  position: absolute;
  background: url("../images/moon.png");
  z-index: 2;
  -webkit-animation: blink ease-in-out 3s infinite;
  animation: blink ease-in-out 3s infinite;
}

.eye {
  top: 276px;
  left: 310px;
  width: 60px;
  height: 69px;
  position: absolute;
  background: none;
  z-index: 3;
  -webkit-animation: eye-anim ease-in-out 5s infinite;
  animation: eye-anim ease-in-out 5s infinite;
}

.stars {
  top: -17px;
  left: 222px;
  width: 607px;
  height: 534px;
  position: absolute;
  background: url("../images/stars.png");
  z-index: 1;
  -webkit-animation: blink ease-in-out 2s infinite;
  animation: blink ease-in-out 2s infinite;
}

@-webkit-keyframes landingBtn {
  0% {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }

  30% {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }

  35% {
    -webkit-transform: scale(1.1) rotate(-2deg);
    transform: scale(1.1) rotate(-2deg);
  }

  40% {
    -webkit-transform: scale(1.15) rotate(3deg);
    transform: scale(1.15) rotate(3deg);
  }

  45% {
    -webkit-transform: scale(1.17) rotate(-1deg);
    transform: scale(1.17) rotate(-1deg);
  }

  55% {
    -webkit-transform: scale(1.15) rotate(2deg);
    transform: scale(1.15) rotate(2deg);
  }

  55% {
    -webkit-transform: scale(1.1) rotate(-1deg);
    transform: scale(1.1) rotate(-1deg);
  }

  70% {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }

  100% {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

@keyframes landingBtn {
  0% {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }

  30% {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }

  35% {
    -webkit-transform: scale(1.1) rotate(-2deg);
    transform: scale(1.1) rotate(-2deg);
  }

  40% {
    -webkit-transform: scale(1.15) rotate(3deg);
    transform: scale(1.15) rotate(3deg);
  }

  45% {
    -webkit-transform: scale(1.17) rotate(-1deg);
    transform: scale(1.17) rotate(-1deg);
  }

  55% {
    -webkit-transform: scale(1.15) rotate(2deg);
    transform: scale(1.15) rotate(2deg);
  }

  55% {
    -webkit-transform: scale(1.1) rotate(-1deg);
    transform: scale(1.1) rotate(-1deg);
  }

  70% {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }

  100% {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes eye-anim {
  0% {
    background: none;
  }

  48% {
    background: none;
  }

  49% {
    background: url("../images/eye0.png");
  }

  50% {
    background: url("../images/eye1.png");
  }

  51% {
    background: url("../images/eye1.png");
  }

  52% {
    background: url("../images/eye0.png");
  }

  53% {
    background: none;
  }

  70% {
    background: none;
  }

  100% {
    background: none;
  }
}

@keyframes eye-anim {
  0% {
    background: none;
  }

  48% {
    background: none;
  }

  49% {
    background: url("../images/eye0.png");
  }

  50% {
    background: url("../images/eye1.png");
  }

  51% {
    background: url("../images/eye1.png");
  }

  52% {
    background: url("../images/eye0.png");
  }

  53% {
    background: none;
  }

  70% {
    background: none;
  }

  100% {
    background: none;
  }
}
